//- End game modal
#endGameModal(style="display: none;")
  #modalContent
    span.close &times;
    h2 End of Game
    p#endGameMessage
    #finalScores
    button(id="playAgain") Play Again
    button(id="mainMenu") Main Menu
