//- Modal for question
#questionModal(style="display: none;")
  #modalContent
    span.close &times;
    h2#modalTitle Question
    p#questionText
    input(type="text" id="answerInput" placeholder="Your Answer")
    button(id="submitAnswer") Submit Answer
